body
{
	background-color: #F0F0F0;
	border: solid 1px silver;
	padding: 5px;
}

h1
{
	background-color: Maroon;
	color: #F0F0F0;
	font-family: Courier New, Courier;
	font-size: 14pt;
	padding: 10pt;
}

.formHeading
{
	color: Navy;
	display: block;
	font-family: Courier New, Courier;
	font-size: 12pt;
	font-weight: bolder;
}

.formHelp
{
	background-color: #F5F5F5;
	border: dashed 1px silver;
	display: block;
	font-family: Courier;
	font-size: 10pt;
	margin-bottom: 10pt;
	padding: 4px;
}

.formLabel
{
	font-size: 8pt;
	display: block;
	font-family: Courier New;
}

.formSection
{
	margin-left: 40px;
	margin-top: 10pt;
}

.formTextBox
{
	border-color: Silver;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
	width: 400px;
}

